@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 150px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

@media screen and (max-width: 480px) {
  .container {
    margin-top: 100px;
    padding: 44px 8%;
    gap: 8px;
  }

  .text h2 {
    font-size: 60px;
    letter-spacing: 3px;
  }

  .text p {
    font-size: 30px;
    letter-spacing: 2px;
  }

  .links {
    gap: 22px;
  }

  .link {
    gap: 20px;
  }

  .link a {
    font-size: 25px;
    letter-spacing: 1.3px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin-top: 80px;
    padding: 35px 6%;
    gap: 7px;
  }

  .text h2 {
    font-size: 45px;
    letter-spacing: 2px;
  }

  .text p {
    font-size: 20px;
    letter-spacing: 2px;
  }

  .links {
    gap: 17px;
  }

  .link {
    gap: 15px;
  }

  .link a {
    font-size: 20px;
    letter-spacing: 1.2px;
  }
}

@media screen and (max-width: 403px) {
  .container {
    margin-top: 70px;
    padding: 35px 6%;
    gap: 7px;
  }

  .text h2 {
    font-size: 40px;
    letter-spacing: 2px;
  }

  .text p {
    font-size: 17px;
    letter-spacing: 2px;
  }

  .links {
    gap: 17px;
  }

  .link {
    gap: 15px;
  }

  .link a {
    font-size: 20px;
    letter-spacing: 1.2px;
  }
}

@media screen and (max-width: 280px) {
  .container {
    margin-top: 90px;
    padding: 35px 6%;
    gap: 7px;
  }

  .text h2 {
    font-size: 30px;
    letter-spacing: 1.5px;
  }

  .text p {
    font-size: 14px;
    letter-spacing: 1.5px;
  }

  .links {
    gap: 14px;
  }

  .link {
    gap: 12px;
  }

  .link a {
    font-size: 15px;
    letter-spacing: 1.2px;
  }

  .link img {
    width: 25px;
  }
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column;
    gap: 23px;
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links {
    align-items: center;
  }
}
