@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 79px;
  margin-left: 10%;
  margin-right: 10%;
}

.title {
  color: var(--color-text);
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
  text-transform: uppercase;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 14px;
}

.skills {
  width: 45%;
  display: flex;
  flex-wrap: wrap;
  gap: 37px;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 11px;
}

.skillImageContainer {
  display: flex;
  border-radius: 100%;
  background-color: var(--color-secondary);
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
}

.skillImageContainer img {
  width: 75px;
}

.skill p {
  font-family: var(--font-roboto);
  font-size: 25px;
  font-weight: 500;
}

.history {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.historyItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  background: #19376d;
  background: linear-gradient(90deg, #19376d 0%, rgba(25, 55, 109, 0) 100%);
  border-radius: 10px;
  padding: 24px;
}

.historyItem img {
  width: 50px;
  border-radius: 25px;
}

.historyItemDetails {
  font-family: var(--font-roboto);
}

.historyItemDetails h3 {
  font-size: 30px;
  font-weight: 500;
}

.historyItemDetails p {
  font-size: 20px;
  font-weight: 300;
}

.historyItemDetails ul {
  margin-top: 6px;
  list-style-position: inside;
  font-size: 25px;
  list-style-type: disc;
  margin-left: 17px;
}

@media screen and (max-width: 480px) {
  .container {
    margin-top: 59px;
    margin-left: 8%;
    margin-right: 8%;
  }

  .title {
    font-size: 25px;
  }

  .content {
    margin-top: 12px;
  }

  .skills {
    gap: 27px;
  }

  .skill {
    gap: 9px;
  }

  .skillImageContainer {
    width: 100px;
    height: 100px;
  }

  .skillImageContainer img {
    width: 55px;
  }

  .skill p {
    font-size: 20px;
  }

  .history {
    gap: 30px;
  }

  .historyItem {
    gap: 14px;
    padding: 20px;
  }

  .historyItem img {
    width: 40px;
  }

  .historyItemDetails h3 {
    font-size: 20px;
  }

  .historyItemDetails p {
    font-size: 15px;
  }

  .historyItemDetails ul {
    margin-top: 5px;
    font-size: 20px;
    margin-left: 14px;
  }
}

@media screen and (max-width: 320px) {
  .container {
    margin-top: 45px;
    margin-left: 6%;
    margin-right: 6%;
  }

  .title {
    font-size: 20px;
  }

  .content {
    margin-top: 10px;
  }

  .skills {
    gap: 22px;
  }

  .skill {
    gap: 7px;
  }

  .skillImageContainer {
    width: 80px;
    height: 80px;
  }

  .skillImageContainer img {
    width: 40px;
  }

  .skill p {
    font-size: 15px;
  }

  .history {
    gap: 20px;
  }

  .historyItem {
    gap: 10px;
    padding: 15px;
  }

  .historyItem img {
    width: 30px;
  }

  .historyItemDetails h3 {
    font-size: 15px;
  }

  .historyItemDetails p {
    font-size: 10px;
  }

  .historyItemDetails ul {
    margin-top: 4px;
    font-size: 15px;
    margin-left: 12px;
  }
}

@media screen and (max-width: 830px) {
  .content {
    flex-direction: column;
    align-items: center;
    gap: 34px;
  }

  .skills {
    width: 100%;
    flex-direction: row;
    justify-content: center;
  }

  .history {
    width: 100%;
    gap: 9px;
  }
}
